.choresText {
  color: rgb(0, 106, 132);
  font-family: Impact;
  font-size: 18px;
  font-style: italic;
  text-align: left;
}

.choresHeading {
  color: rgb(0, 106, 42);
  text-decoration: underline;
  text-align: left;
}
